@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;800;900&family=Outfit:wght@100;200;500;600;900&family=Poppins:wght@300;400;500&family=Raleway:wght@600;900&display=swap');

 .category h1{
    font-family: 'Poppins', sans-serif;
}

.add-category input{
    margin-top: 30px;
  padding-right: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}
.add-category button{
    margin-top: 20px;
    padding: 8px;
    background-color: black;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.add-category button:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}

@media only screen and (max-width: 500px) {
    .category{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}